<?xml version="1.0" encoding="UTF-8"?>
<config>
    <plugins>
    <plugin>
      <name>rcx.access.services</name>
      <path>plugins/rcx.access.services.jar</path>
      <main>rcx.access.services.Bootstrap</main>
      <config>service-config.xml</config>
    </plugin>
  <plugin>
            <name>rcx.access.tcpproxy</name>
            <path>plugins/rcx.access.tcpproxy.jar</path>
            <main>rcx.access.tcpproxy.Bootstrap</main>
            <config>tcp-proxy.xml</config>
        </plugin>
  </plugins>

</config>
