<TcpProxyConfig>
    <proxyPlatform></proxyPlatform>
    <commetDefaultPort>{{tproxy_commet_port}}</commetDefaultPort>
    <commetBackupPort>{{tproxy_commet_bak_port}}</commetBackupPort>
    <rmtpDefaultPort>{{tproxy_rmtp_port}}</rmtpDefaultPort>
    <rmtpBackupPort>{{tproxy_rmtp_bak_port}}</rmtpBackupPort>
    <websocketDefaultPort>{{tproxy_ws_port}}</websocketDefaultPort>
    <websocketBackupPort>{{tproxy_ws_bak_port}}</websocketBackupPort>
    <androidPushDefaultPort>{{tproxy_apush_port}}</androidPushDefaultPort>
    <androidPushBackupPort>{{tproxy_apush_bak_port}}</androidPushBackupPort>
</TcpProxyConfig>
