#!/usr/bin/env bash

export env=dev
# export FLASK_APP=app
# export FLASK_ENV=development
# export FLASK_RUN_PORT=${APP_PORT}
echo -e "\e[1;34m##################################################\e[0m"
echo -e "\e[1;34m#               Welcome to $env                  #\e[0m"
echo -e "\e[1;34m##################################################\e[0m"
