jdbcUrl=jdbc:mysql://{{ mysql.db_host }}:3306/{{ mysql.db_name }}?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false
username={{ mysql.db_root }}
password={{ mysql.db_pwd }}
maximumPoolSize=5