var config = {
    //	server: 'http://api-test.rcx.rongcloud.cn:8099/api',
   server: 'http://{{ public_ip }}:{{ mgt_port }}/api',
    refreshSecret: false,
    product: {
        name: "私有云",
        icon: "css/images/logo.png"
    }
};
