window.config = {
    // RCE Server 地址
    server: 'http://{{ rce_server_api }}',
    // 默认语言版本：only support zh, en
    locale: 'zh',
    // 产品信息
    product: {
        name: {
            zh: '融云企业版',
            en: 'RCE'
        },
        version: '1.6.9',
        versionCode: 1
    }
};
