<?xml version="1.0" encoding="UTF-8"?>
<config>
  <host>:{{ admin_http_port }}</host>
  <plugins>

    <plugin>
      <name>rcx.api.configure</name>
      <path>plugins/rcx.api.configure.jar</path>
      <main>rcx.api.configure.Bootstrap</main>
    </plugin>

  </plugins>
</config>
