<?xml version="1.0" encoding="UTF-8"?>
<config>
	<host>:{{ navi_http_port }}</host>
	<plugins>
		<plugin>
			<name>rcx.http.navi</name>
			<path>plugins/rcx.http.navi.jar</path>
			<main>rcx.http.navi.Bootstrap</main>
		</plugin>
	</plugins>
</config>
