<?xml version="1.0" encoding="UTF-8"?>
<config>
	<host>:8094</host>
	<plugins>
		<plugin>
			<name>rcx.web.configure</name>
			<path>plugins/rcx.web.configure.jar</path>
			<main>rcx.web.configure.Bootstrap</main>
		</plugin>
	</plugins>
</config>
