<?xml version="1.0" encoding="UTF-8"?>
<config>
	<port>0</port>
	<plugins>
		<plugin>
			<name>rcx.access.dataagent</name>
			<path>plugins/rcx.access.dataagent.jar</path>
			<main>rcx.access.dataagent.Bootstrap</main>
		</plugin>
	</plugins>
</config>
