<?xml version="1.0" encoding="UTF-8"?>
<config>
   <rdbclusters>
        <rdbcluster name="rdbclusterName" default="true">
            <rdbs>
                <rdb>
                    <name>DB1</name>
                    <type>MYSQL</type>
                    <filePath>comcloud_x.properties</filePath>
                </rdb>
            </rdbs>
        </rdbcluster>
	</rdbclusters>
</config>
