<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="MyApp"  monitorInterval="10">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MMdd HH:mm:ss,SSS}:%c{1}:%L %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
