{% if db_type == 'kingbase' %}
jdbcUrl=jdbc:kingbase8://{{ mysql_host }}:{{ mysql_port }}/{{ rcx_db }}?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false
driverClassName=com.kingbase8.Driver
{% elif db_type == "dm" %}
jdbcUrl=jdbc:{{ db_type }}://{{ mysql_host }}:{{ mysql_port }}?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false
{% elif db_type == "oscar" %}
jdbcUrl=jdbc:{{ oscar }}://{{ mysql_host }}:{{ mysql_port }}
{% else %}
jdbcUrl=jdbc:mysql://{{ mysql_host }}:{{ mysql_port }}/{{ imdb }}?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false
{% endif %}
username={{ mysql_user }}
password={{ mysql_password }}
maximumPoolSize=5
