<?xml version="1.0" encoding="UTF-8"?>
<config>
  <port>{{ rpc_port }}</port>
    <plugins>

    <plugin>
      <name>rcx.service.broadcast</name>
      <path>plugins/rcx.service.broadcast.jar</path>
      <main>rcx.service.broadcast.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.fileserverplugin</name>
      <path>plugins/rcx.service.fileserverplugin.jar</path>
      <main>rcx.service.fileserverplugin.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.group</name>
      <path>plugins/rcx.service.group.jar</path>
      <main>rcx.service.group.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.historymsg</name>
      <path>plugins/rcx.service.historymsg.jar</path>
      <main>rcx.service.historymsg.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.message</name>
      <path>plugins/rcx.service.message.jar</path>
      <main>rcx.service.message.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.messagetransmit</name>
      <path>plugins/rcx.service.messagetransmit.jar</path>
      <main>rcx.service.messagetransmit.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.pushmediator</name>
      <path>plugins/rcx.service.pushmediator.jar</path>
      <main>rcx.service.pushmediator.Bootstrap</main>
    </plugin>
    <plugin>
      <name>rcx.service.relationinfo</name>
      <path>plugins/rcx.service.relationinfo.jar</path>
      <main>rcx.service.relationinfo.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.richmediaplugin</name>
      <path>plugins/rcx.service.richmediaplugin.jar</path>
      <main>rcx.service.richmediaplugin.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.upstream</name>
      <path>plugins/rcx.service.upstream.jar</path>
      <main>rcx.service.upstream.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.userconnection</name>
      <path>plugins/rcx.service.userconnection.jar</path>
      <main>rcx.service.userconnection.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.usersetting</name>
      <path>plugins/rcx.service.usersetting.jar</path>
      <main>rcx.service.usersetting.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.userstatus</name>
      <path>plugins/rcx.service.userstatus.jar</path>
      <main>rcx.service.userstatus.Bootstrap</main>
    </plugin>

    <plugin>
      <name>rcx.service.monitor</name>
      <path>plugins/rcx.service.monitor.jar</path>
      <main>rcx.service.monitor.Bootstrap</main>
    </plugin>
    <plugin>
      <name>rcx.service.mediacenter</name>
      <path>plugins/rcx.service.mediacenter.jar</path>
      <main>rcx.service.mediacenter.Bootstrap</main>
    </plugin>
    <plugin>
        <name>rcx.service.pushtransmit</name>
        <path>plugins/rcx.service.pushtransmit.jar</path>
        <main>rcx.service.pushtransmit.Bootstrap</main>
    </plugin>
    <plugin>
      <name>rcx.service.templatetransmit</name>
      <path>plugins/rcx.service.templatetransmit.jar</path>
      <main>rcx.service.templatetransmit.Bootstrap</main>
    </plugin>
    <plugin>
            <name>rcx.service.chatroom</name>
            <path>plugins/rcx.service.chatroom.jar</path>
            <main>rcx.service.chatroom.Bootstrap</main>
        </plugin>
        <plugin>
            <name>rcx.service.chatroommessage</name>
            <path>plugins/rcx.service.chatroommessage.jar</path>
            <main>rcx.service.chatroommessage.Bootstrap</main>
        </plugin>
        <plugin>
            <name>rcx.service.rcpushserver</name>
            <path>plugins/rcx.service.rcpushserver.jar</path>
            <main>rcx.service.rcpushserver.Bootstrap</main>
        </plugin>
        <plugin>
            <name>rcx.service.rtc</name>
            <path>plugins/rcx.service.rtc.jar</path>
            <main>rcx.service.rtc.Bootstrap</main>
        </plugin>
  </plugins>
</config>
