# including Group uids you want send to , and also  RongRong uid
route.filter.targetIds=
# filter message type.
route.filter.objectNames=
# address you want to route.  DEFAULT http://admin.rongcloud.cn/rongrong/message
route.url=