<?xml version="1.0" encoding="UTF-8"?>
<config>
	<ip>127.0.0.1</ip>
	<port>8899</port>

	<plugins>
		<plugin>
			<name>service-moments</name>
			<path>plugins/rcx.service.moments-2.1.0-SNAPSHOT.jar</path>
			<main>rcx.service.moments.Bootstrap</main>
			<config>moments-config.xml</config>
			<version>1.0.0</version>
		</plugin>
	</plugins>

</config>
