# rcdb-server config
# MUST indent by TAB!

# relative to path of this file, directory must exists
work_dir = {{ global.app_path }}/{{ inst_name[0] }}
pidfile = {{ global.data_path }}/{{ inst_name[0] }}/rcdb.inst-0.pid

server:
	ip: {{ bind_address }}
	port: {{ rcdb_port[0] }}

replication:
	binlog: yes
	sync_speed: -1
	slaveof:

logger:
	level: info
	output: {{ global.logs_path }}/{{ inst_name[0] }}/{{ inst_name[0] }}.log
	rotate:
		size: 1000000000

leveldb:
	# in MB
	cache_size: 500
	# in KB
	block_size: 32
	# in MB
	write_buffer_size: 64
	# in MB
	compaction_speed: 1000
	# yes|no
	compression: yes
